@import "./variables.scss";

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: $primary-color;
  background: $color-background;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: $space-xxlarge;
}

h2 {
  font-size: $space-xlarge;
}

h3 {
  font-size: $space-large;
  margin-bottom: $space-medium;
}

h4 {
  font-size: $space-medium;
  margin-bottom: $space-tiny;
}

h5 {
  font-size: $space-small;
}

em {
  color: $secondary-color;
  font-style: normal;
}

p {
  font-weight: 600;
  line-height: 1.6;
}
