// Colors:
$color-separator: rgb(223, 219, 219);
$color-background: #ffffff;
$primary-color: #171717;
$secondary-color: #7f8ea0;

// Spaces:
$space-border-width: 1px;
$space-tiny: 3px;
$space-xsmall: 5px;
$space-small: 12px;
$space-medium: 20px;
$space-large: 30px;
$space-xlarge: 50px;
$space-xxlarge: 70px;
$space-main-vertical-padding: 300px;
$space-half-section: 1000px;
$space-full-section: 2000px;
