// Colors:
$color-separator: rgb(197, 195, 195);
$color-background: #ffffff;
$color-foreground: #171717;
$primary-color: #171717;
$secondary-color: #928f8f;
// $text-color: #333;
// $background-color: #f4f4f4;

// Spaces:
$space-border-width: 1px;
$space-tiny: 3px;
$space-xsmall: 5px;
$space-small: 13px;
$space-medium: 20px;
$space-large: 30px;
$space-xlarge: 50px;
$space-xxlarge: 70px;
$space-main-vertical-padding: 300px;
$space-half-section: 1000px;
$space-full-section: 2000px;
