// Colors:
$color-separator: rgb(223, 219, 219);
$color-background: #ffffff;
$primary-color: #171717;
$secondary-color: #7f8ea0;

// Spaces:
$space-border-width: 0.06rem;
$space-tiny: 0.19rem;
$space-xsmall: 0.31rem;
$space-small: 0.75rem;
$space-medium: 1.25rem;
$space-large: 1.88rem;
$space-xlarge: 3.13rem;
$space-xxlarge: 4.38rem;
$space-main-vertical-padding: 18.75rem;
$space-half-section: 62.5rem;
$space-full-section: 125rem;
