@import "../../styles/variables.scss";

.testimonials {
  display: flex;
  column-gap: $space-large;
  max-width: $space-half-section;

  & > * {
    flex: 1;
  }
}

.testimonial {
  margin-bottom: $space-large;
  padding-bottom: $space-large;
  border-bottom: $space-border-width solid $color-separator;
}

.text {
  margin-bottom: $space-large;
}

.image {
  border-radius: $space-xlarge;
  margin-right: $space-small;
}

.author {
  display: flex;
  align-items: center;
}

.authorText {
  display: flex;
  flex-direction: column;
  row-gap: $space-xsmall;
}

.company {
  font-size: $space-small;
}
